*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}
body{
    background-color: #dbdf10;
    width: 100%;
    height: 100%;
}
nav{
    width: 70%;
    height: 70%;
    background-color: #303104;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    overflow-y: auto;
}
nav .opcao_lob{
    width: 90%;
    min-height: 10%;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f8000085;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 900;
    color: #fff;
}
nav .opcao_lob:hover{
    background-color: #f80000;
    color: #ffa500;
    scale: 1.1;
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
}

#menu_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000cc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}
#menu_container h1{
    font-size: 5em;
}
#menu_container button{
    min-width: 8em;
    min-height: 2em;
    font-size: 1em;
    color: aliceblue;
    font-weight: 800;
    padding: 1em;
    text-transform: uppercase;
    background-color: #f80000;
    border: none;
    position: absolute;
    right: 2em;
    bottom: 2em;
    border-radius: 0.5em;
}
#menu_container button:hover{
    scale: 1.2;
    background-color: blue;
    color:#ffa500;
    cursor: pointer;
}

.item_menu_vertical{
    width: 90%;
    min-height: 10%;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f80000d5;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 900;
    color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 0.5em;
}

.item_menu_vertical input{
    margin-left: auto;
}

.fase{
    width: 90%;
    min-height: 10%;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f80000d5;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 900;
    border-radius: 0.5em;
}

.fase:hover{
    background-color: #004ff8;
    color: #ffa500;
    scale: 1.1;
    cursor: pointer;
}