nav{
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    overflow: hidden;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.opcao_lob{
    width: 100%;
    text-align: center;
    padding: 30px;
}

.opcao_lob:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.575);
}

/* MENUS  */

.menu{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.726);
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
}

.menu *{
    margin-block: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.menu h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

.menu h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
}

.item_menu_vertical{
    display: flex;
    width: 100%;
}

.item_menu_vertical input{
    margin-right: 12%;
}

.item_menu_vertical p{
    margin-left: 12%;
}

hr{
    width: 80%;
}

.menu .fechar{
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: rgb(0, 0, 2);
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    min-width: 80px;
    min-height: 40px;
    padding: 15px;
    border: rgb(206, 173, 173) solid 2px;
    border-radius: 5px;
}

.menu .fechar:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: rgb(39, 39, 39);
}

/* MENU DE CONFIGURAÇÕES */

box{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 100, 0.308);
}

#config_box{
    margin-bottom: 200px;
}

box .box_form{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.575);
    justify-content: end;
}

box .key_box{
    width: 40px;
    height: 40px;
    padding: 30px;
    background-color: rgba(0, 0, 100, 0.575);
    margin: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

box .key_box:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: rgba(0, 0, 100, 0.875);
}

box p{
    width: 100%;
}

.key_box .text_key{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

/* MENU DE PAUSE */

main.menu.menu-pause{
    padding-inline: 0px;
}

.item_pause{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.575);
    margin-block: 10px;
    width: 50%;
}

.item_pause.item_menu_vertical p{
    margin-left: auto;
}

.item_pause:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.875);
}

/* MENU DE FASES */

#fases{
    height: auto;
    width: auto;
    min-height: auto;
    overflow: visible;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.425);
}

.fase{
    display: flex;
    width: 1000px;
    min-height: 500px;
    margin: 30px;
    background-color: rgba(0, 0, 100, 0.575);
    justify-content: center;
    align-items: center;
}

.fase:hover{
    scale: 1.05;
    cursor: pointer;
}

.fase img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}